<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "hhttps://shielded-ocean-39017.herokuapp.com"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

